.hoje{
    color: darkgreen;
    font-family:Arial;
}

.amanha{
    color: darkblue;
    font-family:Arial;
}

a{
    text-decoration: none;
    font-family:Arial;
}

a h2{
    color: royalblue;
    font-family:Arial;
}

p{
    font-size: 20px;
    font-family:Arial;
 }